.jss129 {
  padding: 300px;
  background-color: #f5f5f5;
  height: 200px;
  width: 200px;
}
.Contenedor-usuario {

        height: auto !important;
        margin: 0 !important;
        padding: 0 !important;
    
}
/* SIDEBAR */
.container-links-sidebar1{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.sidebar-container{
    margin: 0 !important;
    padding: 0 !important;
    height: 100vh !important;
    width: 150px;
    background: #68829c;
    text-align: center;
    top: 50px;
    /*position: fixed;*/
}

.sidebaricons-container {
    height: 100vh !important;
    width: 70px;
    background: #68829c;
    text-align: center; 
    /* position: fixed; */
    
}
.datos-sidebar-icons {
  height: 100px;
}
.col-md-3{
    height: auto;
    padding: 0px !important;
}

.columna-sidebar{
    height: 0px;
    padding: 0 !important;
}
.datos-sidebar {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}
.container-sidebar1 {
  width: 100%;
  height: 100vh;
}


.secciones-sidebar {
  margin-top: 30px;
  padding-left: 0;
}

.listado-sidebar {
  margin-top: 25px;
  list-style: none;
  margin-bottom: 50px;
}
.link-sidebar {
  color: black;
  font-weight: 600;
  padding: 10px;
  border-bottom: 1px solid black;
}
.link-sidebar:hover {
  text-decoration: none;
  color: #fc5185;
  border-bottom: 2px solid #fc5185;
  transition: 0.3s;
}

.icon-sidebar-admin {
  margin-right: 15px;
  font-size: 20px;
  width: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.listMascotas {
  width: 200px;
}
.navbar-user {
    background: #68829c;
    
    /*position: fixed;*/ 
    width: 100%;
   
}

.link-admin {
  color: black;
  font-weight: 600;
  text-align: center;
}

.link-admin:hover {
  text-decoration: none;
  color: #fc5185;
}

.icon-admin {
  font-size: 1.3rem;
}

.footer-admin {
    bottom: 0;
    /*position: fixed;*/

}
.footer-copyright {
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 500px;
}
.CardMascota {
    height: 650px;
    width: auto;
     
}
