
.cont_ppal{
    margin: auto 70px;
    
}
.lead{
    margin-top: 150px !important;
}
#holi{
    color: #544e4e !important;
}
#btn_turno{
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 15px;
    color: #fc5185 !important;
    border: 1px solid #fc5185 !important;
    margin-left: 40%;    

    }
    #btn_turno:hover{
        background-color: #fc5185 !important;
        color: whitesmoke !important;
        border-color: #fc5185 !important;
    }
    
i.fa{
    color: #fc5185 !important;
}

#btn_turno_modal{
    margin: 0;
    color: #fc5185 !important;
    border: 1px solid #fc5185 !important;
}
#btn_turno_modal:hover{
    background-color: #fc5185 !important;
    color: whitesmoke !important;
    border-color: #fc5185 !important;
}

@media (min-width:766px){
    .img-sec-servicios{
        margin:90px auto !important;
    }

}