
.cont_ppal{
    margin: auto 70px
}
.h1-responsive{
    border-bottom: 2px solid #fc5185;
    padding-bottom: 10px;
    margin-top: 200px !important;
}
.lead{
    margin-top: 50px !important;
}

#btn_turno{
    padding: 7px;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    border-radius: 25px;
    color: #fc5185 !important;
    border: 1px solid #fc5185 !important;
    margin-top: 50px !important;
    }
    #btn_turno:hover{
        background-color: #fc5185 !important;
        color: whitesmoke !important;
        border-color: #fc5185 !important;
    }
    
i.fa{
    color: #fc5185 !important;
}

@media (min-width:766px){
    .img-fluid{
        margin:90px auto !important;
    }

}