.section {
  background-color: #f0f0f0;
}

.title {
  color: #fc5185;
  font-size: 26px;
  text-transform: uppercase;
}
.lorem {
  margin-top: 20px;
  text-align: justify;
  width: 480px;
  line-height: 1.5;
}
.lorem p {
  color: black !important;
}
#boton {
  background-color: transparent;
  color: #fc5185;
  border: 1px solid #fc5185;
  border-radius: 50px;
  padding: 7px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 25px;
  width: 110px;
  height: 40px;
  transition: all 0.6s ease;
}
#boton:hover {
  background-color: #fc5185;
  color: whitesmoke;
}

.images {
  margin-top: 9px;
  display: flex;
  justify-content: center;
}
.imge {
  height: 200px;
  width: 150px;
  border-radius: 16px;
  box-shadow: 5px 5px 7px darkgray;
  object-fit: cover;
  padding: 0;
  transition: all 0.3s ease;
}


figure {
  margin: 25px 20px;
  padding: 0%;
  position: relative;
  height: 200px;
  width: 150px;
}
figcaption {
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: block;
  color: whitesmoke;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  background: rgba(100, 100, 100, 0.7);
  width: 100%;
  padding: 8%;
  border-radius: 0px 0px 16px 16px;
}

/*MEDIA QUERYS*/

@media (max-width: 549px) {
  .servicios {
    padding-top: 15px;
  }
  .title {
    text-align: center;
  }
  .lorem {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #boton {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .images {
    display: flex;
    flex-direction: column;
    align-items: center !important;
  }
  figure,
  img {
    width: 300px !important;
    height: 350px !important;
  }
}

@media (min-width: 550px) and (max-width: 700px) {
  .servicios {
    padding-top: 15px;
  }
  .title {
    text-align: center;
  }
  .lorem {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #boton {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 701px) and (max-width: 1199px) {
  .servicios {
    padding-top: 15px;
  }
  .title {
    text-align: center;
  }
  .lorem {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  #boton {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/*XL*/
@media (min-width: 1200px) {
  .section {
    display: flex;
    background: url("../../assets/img/svs/transparente.png");
    background-color: #f0f0f0;
    background-attachment: contain fixed;
    background-size: cover;
    background-position: center;
    min-height: 550px;
  }
  .servicios {
    margin-top: 25px;
    margin-left: 60px;
  }
  .images {
    margin-top: 9px;
    display: flex;
    flex-direction: row;
    margin-left: 7%;
  }
  .imge {
    height: 200px;
    width: 150px;
    border-radius: 16px;
    box-shadow: 5px 5px 7px darkgray;
    object-fit: cover;
    padding: 0;
    position: absolute;
  }
  figure {
    margin: 25px 20px;
    padding: 0%;
    position: relative;
    height: 200px;
    width: 150px;
  }
}
