@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


div.container {
    padding-top: 30px;
    padding-bottom: 80px;
    padding-right: 50px;
    padding-left: 40px;
    background-color:#f0f0f0;

}



h1{
    color:#fc5185;
}

default h2, .institucional h2{

  }

.first-title{
    color:#fc5185;
}

default .second-title, .institucional .second-title {

    font-size: 20px;
    font-weight: bold;
    padding: 20px 0px;
    position: relative;
    display: block;
    font-family: "Roboto", sans-serif;
    text-align: left;
    letter-spacing: 0.5px;
    color:#fc5185;
}

h3 {

.third-title {

    color:#364f6b;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
}




 h2, h3 {

 .second-title, .third-title {

    margin-top: 20px 20px;
    margin-bottom: 10px;
}


p {

.paragraph {

    text-align: justify;
    line-height: 1.5;
}

.circular--square {
    border-radius: 50%;
  }

.image{
    width: 100px;
    height: 100px;

   }

    margin: 40px 3em 10px 10px auto;
}


.imageAside{
    width: 250px;
    height: 350px;
}

/* .medicos{
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
} */

.medicos{
    /* justify-content: space-between; */
    margin-bottom: 2em;
    margin-top: 2em;
}

/* @media only screen and (max-width: 1000px) {
    .medicos {
        flex-direction: column;
    }
  } */


/* .medicos{
    justify-content: space-between;
} */


.static-contain .paragraph {
    color: black;
}
