@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


div.container {
    padding-top: 30px;
    padding-bottom: 80px;
    padding-right: 50px;
    padding-left: 40px;
    background-color:#f0f0f0;
}



h1{
    color:#fc5185;
}

default h2, .institucional h2{
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0px;
    position: relative;
    display: block;
    font-family: "Roboto", sans-serif;
    text-align: left;
    letter-spacing: 0.5px;
    color:#fc5185;
}

h3 {
    color:#364f6b;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
}



 h2, h3 {
    margin-top: 20px 20px;
    margin-bottom: 10px;
}

p {
    text-align: justify;
    line-height: 1.5;
}

.circular--square {
    border-radius: 50%;
  }

.image{
    width: 100px;
    height: 100px;
   }

.imageAside{
    width: 250px;
    height: 350px;
}

/* .medicos{
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
} */
.medicos{
    /* justify-content: space-between; */
    margin-bottom: 2em;
    margin-top: 2em;
}

/* @media only screen and (max-width: 1000px) {
    .medicos {
        flex-direction: column;
    }
  } */

