@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

h1{
    margin-top: 50px;
    margin-left: 100px;
}

.store-title{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 80px;
    font-weight: 600;
    color: #0e3257;
    letter-spacing: 10px;
}

.contenedor_cards{
    /* margin-left: 100px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img_acc{
   /* object-fit: contain; */
   width: 200px;
   margin:0 auto;
   /* margin-top: 10px; */
}
.body_card{
    margin: 10px;
    height: 500px !important;
   object-fit: contain;
   width: 300px;
   margin-top: 10px;
}
.card{
    margin-top: 10px;
    margin-right: 30px;
    width: 15px;
    height: 50px;
}

.container-cards-store{
    width: 100vw;
   
    
    
}

@media(max-width: 599px){
    #card_acc{
        width: 70% !important;
        height: 30% !important;
        
    }
    .img_acc{
        width: 100% !important;
        height: 30% !important;
    }
}
@media(min-width: 600px) and (max-width: 859px){
    #card_acc{
        width: 30% !important;
        height: 30% !important;
    }
}

@media (min-width: 860px){
    #card_acc{
        width: 20%;
        height: 20%;
    }
    
    
}