#titulo_acce{
    margin-top: 150px;
}
.contenedor_cards{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img_acc{
   object-fit: contain;
}


@media(max-width: 599px){
    #card_acc{
        width: 70% !important;
        height: 30% !important;
        
    }
    .img_acc{
        width: 100% !important;
        height: 30% !important;
    }
}
@media(min-width: 600px) and (max-width: 859px){
    #card_acc{
        width: 30% !important;
        height: 30% !important;
    }
}

@media (min-width: 860px){
    #card_acc{
        width: 20%;
        height: 20%;
    }
    
    
}