/* CONTAINER CARD */

.card-homePage {
  width: 100%;
  padding-bottom: 50px;
  background-color: white;
}

.card-homePage .store-title {
  text-align: center;
  padding-top: 40px;
  margin: auto auto;
  padding-bottom: 45px;
  color: #fc5185;
  animation-iteration-count: infinite;
  animation-name: slidein;
  animation-duration: 4s;
  animation-direction: alternate;
}

.store-subtitle {
  text-align: center;
  padding-bottom: 50px;
}

.contenedor-boton-tienda {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
.contenedor-boton-tienda .btn {
  background: #364f6b;
  color: white;
  padding: 15px 40px;
  font-size: 20px;
  font-weight: bolder;
}
.contenedor-boton-tienda .btn:hover {
  background-color: white;
  color: #364f6b;
}

/* FIN CONTAINER CARD */

/* CARD */
.contenedor-card-landing {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap !important;
  justify-content: center;
}
.card-container {
  width: 15rem !important;
  margin: 30px;
  height: 460px !important;
}

.card-body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.button-card {
  color: #364f6b;
  border: none;
}

.card-footer {
  display: flex;
  justify-content: space-evenly;
}
.card-footer .button-card {
  background: transparent !important;
}
.card-footer .button-card:hover {
  color: #fc5185;
}

.icon-card {
  font-size: 20px !important;
}
.img-cardE {
  margin: auto !important;
}
/* FIN CARD */

.img-food-cards {
  /* width: 200px; */
  height: 150px;
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  .card-homePage .store-title {
    font-size: 50px;
  }
  .store-subtitle {
    font-size: 22px;
    line-height: 30px;
  }
  .card-homePage {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .button-group {
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: #f0f0f0;
  }

  .botones-productos {
    color: black;
    font-size: 25px;
    border-radius: 30px;
    border: none;
    width: 290px;
    
  }

  .botones-productos:hover {
    color: #fc5185;
    transition: 0.3s;
  }

  .rating-container {
    height: 0;
    padding: 0;
    margin: 0;
  }
  #img_prod {
    width: 80px;
    height: 80px;
    margin-right: 15px;
  }
}

.img_prod {
  width: 10%;
  height: 10%;
  margin-right: 15px;
}

@media only screen and (max-width: 600px) {
  .store-title {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    text-align: center;
  }
  .store-subtitle {
    font-size: 18px;
    line-height: 20px;
  }

  .card-homePage {
    justify-content: center !important;
    align-items: center !important;
    display: block;
  }
  .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .botones-productos {
    font-size: 10px !important;
    width: 100%;
  }
  .card.cascading-admin-card {
    margin-top: 2.5rem;
  }
  #img_prod {
    width: 80px !important;
    height: 80px !important;
  }
  .img-food-cards {
    width: 200px !important;
    height: 150px !important;
    margin: 0 auto;
  }
  .contenedor-card-landing {
    flex-wrap: wrap !important;
  }
}

.botones-productos {
  color: black;
  font-size: 25px;
  border: none;
  width: 100%;
  margin-bottom: 2px;
  /* background: #364f6b; */
  /* border-radius: 20px; */
}

.botones-productos:hover {
  color: #fc5185;
  transition: 0.3s;
}

.rating-container {
  height: 0;
  padding: 0;
  margin: 0;
}
#img_prod {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
