/* CONTAINER CARD */

.card-homePage {
  width: 100%;
  margin-top: 30px;
  padding-bottom: 50px;
  /* display: flex; */
  /* justify-content: center;
    align-items: center;
    flex-wrap: nowrap; */
    
}


/* .title-container {
  display: flex;
  flex-wrap: wrap;
} */

.card-homePage .store-title {
  width: 350px;
  padding-top: 30px;
  margin: auto auto;
  padding-bottom: 30px;
  color: #fc5185;
  font-size: 45px;
}
.store-subtitle{
  text-align: center;
  padding-bottom: 60px;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 30px;

}

.contenedor-boton-tienda {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
.contenedor-boton-tienda .btn {
  background: #364f6b;
  color: white;
  padding: 5px 20px;
}
.contenedor-boton-tienda .btn:hover {
  color: #fc5185;
}

/* FIN CONTAINER CARD */

/* CARD */

.card-container {
  /* width: 15rem; */
  border: 1px solid #fc5185;
  margin: 25px;
  /* height: 460px; */
}

.card-body {
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  /* width: 100%; */
}

.button-card {
  color: #364f6b;
  border: none;
}

.rating-container {
  display: flex;
  justify-content: center;
}

.card-footer {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #fc5185;
}
.card-footer .button-card {
  background: transparent !important;
}
.card-footer .button-card:hover {
  color: #fc5185;
}

.icon-card {
  font-size: 20px;
}
.img-cardE{
  margin: auto !important;
}
/* FIN CARD */


@media only screen and (min-width: 600px) {
  .card-homePage {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  /* .card {
    width: 15rem;
  } */
}

@media only screen and (max-width: 600px) {
  .store-title{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    text-align: center;
  }
  .card-homePage {
    justify-content: center !important;
    align-items: center !important;
    display: block;
  }
  .button-group {
    max-width:300px ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .botones-productos {
    font-size: 10px !important;
  }
  .card.cascading-admin-card {
    margin-top: 2.5rem;
  } 

}

.button-group {
  width: 850px;
  display: flex;
  justify-content: space-between;
  margin: auto auto;
  margin-bottom: 15px;
  height: 55px;

}

.botones-productos {
  color: #788797;
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 80px;
  padding: 2px 15px;
  border: none;
  background-color: #364f6b;
  
  /* background: #364f6b; */
  /* border-radius: 20px; */
}

.botones-productos:hover {
  color: #fc5185;
  transition: .3s;
}


.rating-container{
  height: 0;
  padding: 0;
  margin: 0;
}
