body {
    background-color: whitesmoke;
}
.formstyle1{
    box-shadow: 5px 5px 5px 0px #fc5185;
    width: 500px;
    margin: 150px;
    background-color: white;

    
    
  }
  .gato {
    height: 250px;
    width: 200px;
    margin: 150px;
   
  }
  .h3 {
      color:#fc5185;
      margin: 20px;
   
   
  }
 