.container-login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.contenedor-imagen-login {
  width: 50%;
  height: 100%;
  background: #fc5185;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.formstyle {
  box-shadow: 10px 10px 5px 0px #fc5185;
  height: 400px;
  width: 500px;
  margin: 150px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gato {
  height: 300px;
  width: 500px;
}
.h3 {
  color: #fc5185;
  margin: 20px;
}
