/* a>div>.carousel-control-next-icon {
    background-color: rgb(92, 92, 92);
    border: thin;
    border-radius: 75%;
}

a>div>.carousel-control-prev-icon {
    background-color: rgb(92, 92, 92);
    border: thin;
    border-radius: 75%;
} */
.contenedorCarousel {
    width: 100vw;
    height: 800px;    
    /* width: 100%;  */
}
.d-block{
    margin-top: 135px;
    height: 540px;
}