body {
  background-color: whitesmoke;
}
.logoRegister {
    width: 400px;
    height: 250px;
    /* margin: 50px; */
    
}
.containerRegistro{
   width: 100%;
    background-color: whitesmoke !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.register-title{
    padding: 15px;
    font-size: 3rem;
    color: #68829c;
    border-bottom: 2px solid #fc5185;
}
.text-welcome{
    font-size: 3rem;
    color: #fc5185;
    text-transform: uppercase;
    font-weight: 800;
}
.register-paragraph{
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
    color: #fc5185;
    font-weight: 600;
}
.container-img-registro{
    width: 50%;
    height: 100%;
    background: #68829c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerForm1{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario-registro{
    margin: 10px;
}
.ButtonRegistro {
    background-color: #fc5185 !important;
    color: white;
    font-weight: 600;
    box-shadow: none;
}

.ButtonRegistro:hover{
    color: #fc5185;
    background: #68829c !important;
    transition: .3s;
    box-shadow: none;
}

@media only screen and (max-width: 600px){
    .containerRegistro{
        /* padding: 0 !important; */
        flex-direction: column-reverse;
        margin-bottom: 20px;
        text-align: start;
    }
    .register-title{
        width: 100%;
        text-align: center !important;
        padding: 10px;
        font-size: 2.5rem;
        justify-content: flex-start !important;
        
    }
    .containerForm1{
        width: 100%;
        justify-content: center !important;
    }
    .container-img-registro{
        /* display: none; */
        background: none;
    }
    .logoRegister{
        margin-top: 60px;
        width: 350px !important;
        height: 220px !important;
    }
    .text-welcome{
        display: none;
    }
    .register-paragraph{
       display: none;
    }
}
