body {
    background-color: whitesmoke;
    
}
.logoRegister {
    width: 400px;
    height: 250px;
    /* margin: 50px; */
    
}
.containerRegistro{
   width: 100%;
    background-color: whitesmoke !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container-img-registro{
    width: 50%;
    height: 100%;
    background: #68829c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerForm1{
    box-shadow: 5px 5px 5px 0px #fc5185;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario-registro{
    margin: 10px;
}


.ButtonRegistro {
    background-color: #fc5185 !important;
    color: white;
}
