@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

.img {
  height: 320px;
  width: 300px;
  padding-bottom: -43px !important;
}

.imagenhomero {
  height: 100px;
}
#texto {
  text-align: center;
  text-transform: uppercase;
}

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#hola {
  background-color: #364f6b;
}
.buttons {
  display: inline;
}

.iconos {
  height: 35px;
  width: 35px;
  margin: 7px 15px 15px 0;
}
#map-container {
  display: flex;
  justify-content: center;
  height: 150px;
  width: 200px;
}

#hola {
  background-color: #364f6b;
  margin-top: -8px !important;
}
.buttons {
  display: inline;
}

.redessociales {
  display: flex;
  flex-direction: column;
}
.links {
  display: flex;
}
.ubicacion {
  margin: auto auto;
}
.direc {
  margin-top: 100px;
  text-align: center;
  font-size: 18px;
}

@media (min-width: 300px) and (max-width: 549px) {
  #hola {
    background-color: #364f6b;
  }

  .imagenhomero {
    margin-bottom: 100px;
  }
  .img {
    height: 200px !important;
    width: 200px !important;
  }
  .iconos {
    height: 30px !important;
    width: 30px !important;
  }
  .informacion {
    margin-top: 30px;
    margin-left: 20px;
  }
  .contacto {
    flex-direction: column;
    margin-top: 10px;
  }
  #map-container {
    height: 200px;
    width: 200px;
    margin-bottom: 150px;
    margin-left: 20px;
  }
  .ubicacion {
    display: flex;
    justify-content: center;
    margin: auto auto;
    padding-bottom: 30px;
  }

  .redes {
    margin: 10px;
    padding: 20px;
    margin-left: 0px;
    padding-left: 0px;
  }
  .direc {
    margin-top: auto;
  }
  .d-flex {
    margin: auto;
  }
}
@media (min-width: 550px) and (max-width: 700px) {
  #hola {
    background-color: #364f6b;
  }

  .imagenhomero {
    margin-bottom: 40px;
  }
  .img {
    height: 150px !important;
    width: 150px !important;
  }
  .iconos {
    height: 40px !important;
    width: 40px !important;
  }
  .informacion {
    margin-top: 30px;
    margin-left: 50px;
  }
  .ubicacion {
    display: flex;
    justify-content: center;
    margin: auto auto;
    padding-bottom: 30px;
  }
  #map-container {
    height: 200px;
    width: 300px;
    margin-top: 20px;
  }

  .redes {
    margin: 10px;
    padding: 20px;
  }
  .d-flex {
    margin: auto;
  }
}
@media (min-width: 701px) and (max-width: 991px) {
  #hola {
    background-color: #364f6b;
  }

  .imagenhomero {
    padding-bottom: 150px;
    margin: auto auto !important;
  }
  .img {
    height: 300px !important;
    width: 300px !important;
  }
  .iconos {
    height: 40px !important;
    width: 40px !important;
  }
  .informacion {
    padding-top: 200px;
    margin: auto auto;
    padding-left: 10%;
  }
  .ubicacion {
    display: flex;
    justify-content: center;
    margin: auto auto;
    padding-bottom: 30px;
  }
  .col-md-5 {
    display: flex;
    margin-top: 10px;
    margin: auto auto;
  }
  .contacto {
    margin: auto auto;
  }

  #map-container {
    height: 200px;
    width: 300px;
    margin-bottom: 15px;
    margin-top: 20px;
    margin: auto auto;
  }
  #texto {
    margin: auto auto;
  }
  .redes {
    margin: auto;
    padding: 20px;
  }

  .d-flex {
    margin: auto;
  }
}
@media (min-width: 992px) and(max-widht:1199px) {
  .ubicacion {
    margin-left: 160px;
  }
}

@media (min-width: 1200px) {
  .imagenhomero {
    margin-left: 60px;
  }
}
