@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


.img{
height: 400px;
width: 400px;
}
.forma{
    height: 100px;
}



.iconos{
    height: 35px;
    width: 35px;

}


#hola{
    background-color:#364f6b;
}
.buttons{
    display: inline;

}
#map-container{
    height: 200px;
    width: 200px;
}

.redessociales{
    display: flex;
    justify-content: space-around;
}