.sidenav-filters {
    padding-top: 10px;
    padding-right:14px;
    padding-left: 10px;
    border-right:  #fc5185 solid;
   background-color: rgba(202, 216, 241, 0.863);
   border-width:1px;
    min-width: 130px;
}

legend{
    color:  #fc5185!important;
}

.grupo{
    margin-left:1em;
    color:  #364f6b;
   
}
.MuiDrawer-paper{
    margin-top: 50px;
    background-image: url("https://st.depositphotos.com/1730367/2001/i/450/depositphotos_20013269-stock-photo-pet-footprints.jpg");

}
