/* .contenedor-principal-landing {
  background: #f0f0f0 !important;
} */
/* .rowNav {
  height: 200px;
} */
/* .rowCarousel {
  height: 90vh;
  
} */


.rowFooter {
  position: relative;
  bottom: 0;
}

