/* .contenedor-principal-landing {
  background: #f0f0f0 !important;
} */

/* .App {
  text-align: center;

.contenedor-principal-landing {
  background: #f0f0f0;

}
/* .rowNav {
  height: 200px;
} */
/* .rowCarousel {
  height: 90vh;
  
} */

.rowFooter {
  position: relative;
  bottom: 0;
}

.App-link {
  color: #61dafb;
}
