.card-carrito {
    margin: 5px !important;
    width: 300px !important;
    height: 250px !important;
    
    
}

.carrito-sidebar-img{
    height: 50px;
    width: 50px;
}

.body-sidebar-cart{
    display: flex;
    align-items: center;
    text-align: center;
}

.botones-footer-sidebar{
    padding: 4px;
    display: flex;
    justify-content: space-evenly;
}

.button-delete-itemcart{
    background: none;
    border: none;
}

.icon-delete-itemcart{
    color: #fc5185;
}